
/* 
Create wrapper for whole page and divide into header, content and footer
 */


h1, h2, h3 {
  background-color: lightblue;
  text-align: left;
  margin: 0 auto;


}


body {

  text-align: center;
  background-color: lightgrey;

}

body li {
  list-style: none;
  /*image size, font*/

}
nav {
  background-color: #fff;
  color: midnightblue ;
}
footer {
  background-color: grey;


}
footer section {
  text-align: center;


}
footer li {
  list-style: none;
  float: left;
}