
h1, h2, h3 {
  background-color: lightblue;

}

body {

  text-align: center;
  background-color: lightgrey;

}

footer {
  background-color: grey;


}

footer li {
  list-style: none;
  float: left;
}