
h1, h2, h3 {
  background-color: lightblue;
  text-align: left;
  margin: 0 auto;


}


body {

  text-align: center;
  background-color: lightgrey;

}
nav {
  background-color: darkblue;
  color: #fff;
}
footer {
  background-color: grey;


}

footer li {
  list-style: none;
  float: left;
}