%h1 Jackie Tremblay
%h3 Ruby on Rails Engineer
%nav
  %a.selected{:href => "index.html"} Home
  %a{:href => "about.html"} About
  %a{:href => "contact.html"} Contact
  %a{:href => "portfolio.html"} Portfolio
%h4 Jackie Tremblay's portfolio is updated often. Please check back daily to see the progress
