%h1 Jackie Tremblay
%h3 Ruby on Rails Engineer
%nav
  %a.selected{:href => "index.html"} Home
  %a{:href => "about.html"} About
  %a{:href => "contact.html"} Contact
  %a{:href => "portfolio.html"} Portfolio
%h4 Jackie Tremblay's portfolio is updated often. Please check back daily to see the progress
%footer  
  %ul
    %li
      %img{:src => "/images/bike.jpeg"}/
    %li
      %img{:src => "/images/animal friends.jpeg"}/
    %li
      %img{:src => "/images/boston logo.jpeg"}/
    %li
      %img{:src => "/images/maple syrup.jpeg"}/
%p Phone Number
%a{:href => "tel:8434697720"} 843-469-7720
%p Email:
%a{:href => "mailto:jtremblay314159@gmail.com"} jtremblay314159@gmail.com
%p Git Hub:
%a{:href => "http://github.com/JacqAttaq"} JacqAttaq