
.container-fluid
  .jumbotron
    %h3 Skills
    %body Ruby on Rails, javaScript, HTML, CSS, AngularJS, Bootstrap, People skills

.container
  .jumbotron
    .row
      .col-md-4
      %br
      = link_to "Hospital"
      %br
      %body Web application for managing facilities, patients, medications and doctors. Created using Rails, Bootstrap, and the Faker gem. Tested with Capybara.
      %br 
      = link_to "Student Manager"
      %br
      %body Web application for instructor/student management and communication. Built using Rails, Bootstrap and the Devise gem.
      %br
      = link_to "VeggieTables"
      %br
      %body This is my final project, created to help farmers, restauranteurs, and consumers connect. This was created in Rails using AngularJS in collaboration with front-end engineer Val Harvey.

%br
%h3 Jackie - in 50 words or less
%body I like bacon and computers. In that order. 

%footer
  %img{ src: "/assets/bike.jpeg" }
