
.nav
  / link_to "Portfolio", portfolio
  / link_to "contact", contact
  / link_to "about", about

.container-fluid
  .jumbotron
    %h4 Skills
    %body Ruby on Rails, javaScript, HTML, CSS, AngularJS, Bootstrap, People skills




%footer
  %ul
    %li
    %img{ src: "/assets/bike.jpeg" }
    %li
    %img{ src: "/assets/animal friends.jpeg" }
    %li
    %img{ src: "/assets/boston logo.jpeg" }
    %li
    %img{ src: "/assets/canadiens logo.jpeg" }
    %li
    %img{ src: "/assets/maple syrup.jpeg" }
    %li
    %img{ src: "/assets/cheers.jpeg" }
