<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>JacqAttaqGithubIo</title>


</head>



 
<body>
    <li>
      <a href="hospital.html">Hospital</a>
      / %img Hosp
     <p> Web application for managing facilities, patients, medications and doctors. Created using Rails, Bootstrap, and the Faker gem. Tested with Capybara. </p>
    </li>
    <li>
      <a href="studentmng.html">Student Tracker</a>
      / %img Student
      
     <p> Web application for instructor/student management and communication. Built using Rails, Bootstrap and the Devise gem.</p>
    </li>
    <li>
      <a href="farm.html">Farmstand</a>
      / %img VT
      <p> This is my final project, created to help farmers, restauranteurs, and consumers connect. This was created in Rails using AngularJS in collaboration with front-end engineer Val Harvey. </p>
    </li>
</body>
</html>