<!DOCTYPE html>
<html>
<head>
  <title>JacqAttaqGithubIo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
  <div id="footer">
      <ul>
        <li><img src="/images/bike.jpeg"></li>
        <li><img src="/images/animal friends.jpeg"></li>
        <li><img src="/images/boston logo.jpeg"></li>
        <li><img src="/images/maple syrup.jpeg"></li>
      </ul>
   
      <p>Phone Number <a href="tel:8434697720">843-469-7720</a></p>
      <p>Email: <a href="mailto:jtremblay314159@gmail.com">jtremblay314159@gmail.com</a></p>
      <p>Git Hub: <a href="http://github.com/JacqAttaq">JacqAttaq</a></p>
    </div>
</html>
